doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Space Join for MuseScore

        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/css/uikit.min.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/JNKKKK/MoreToggles.css/output/moretoggles.min.css")
        link(rel="stylesheet", href="style.css")
        script(src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit.min.js")
        script(src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit-icons.min.js")
    body.uk-card.uk-card-body.uk-card-default
        h1.uk-animation-fade 文字列の間に空白を入れるサイト
        p.uk-animation-fade
        | このサイトでは入力した文字列に半角spaceを挟んで出力します。Muse scoreで歌詞を入力する際に便利です。<br>漢字を平仮名にする機能自体はこのサイトにはないのですが、こちらのブログHPツール様の
        a(href='https://www.webtoolss.com/hiragana.html') フリガナ⚙ツール
        | を使うことによってひらがなに変換することができます

        .input-area.uk-card.uk-card-body.uk-card-default.uk-height-medium.uk-card-hover.uk-margin.uk-card-primary
            .title.uk-card-title.uk-grid
                h2.uk-animation-fade.uk-margin-bottom input
                #options
                    #youon.uk-grid
                        .mt-transparent.uk-margin-top
                            input(type="checkbox" id="1").toggle
                            label(for = "1").toggle
                        p.uk-margin-top.uk-text-small.toggle-text  拗音を一文字としてカウントする
            textarea().uk-width-1-1#input-text.uk-height-small.uk-text-secondary
        .output-area.uk-card.uk-card-body.uk-card-default.uk-height-medium.uk-card-hover.uk-margin.uk-card-secondary
            .title.uk-card-title.uk-grid
                h2.uk-animation-fade.uk-width-5-6.uk-margin-bottom output
                span(uk-icon='copy')#copy-button.uk-width-1-6.uk-margin-bottom.uk-button
            textarea(readonly)#output-text.uk-width-1-1.uk-height-small.uk-text-secondary


        script(src="./bundle.js")
